* {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.header {
    height: 72px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.nav-link {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    margin: 8px;
}

.hero {
    background-color:#1f2937;
    display: flex;
    padding: 72px 10%;
    justify-content: space-between;
}

.hero-content {
    margin-right: 24px;
    max-width: 50%;
}

.hero-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-text {
    color: #e5e7eb;
    margin-bottom: 16px;
}

.hero-button, .cta-button {
    padding: 6px 24px;
    color: #F9FAF8;
    background-color: #3882f6;
    border-radius: 6px;
    text-decoration: none;
}

.hero-image {
    background-color: gray;
    height: 200px;
    width: 400px;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-image p {
    text-align: center;
}

.information {
    padding: 48px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: flex;
    justify-content: center;
}

.grid-item {
    width: 150px;
    margin: 24px;
    text-align: center;
    color: #1f2937;
}

.square {
    height: 150px;
    width: 150px;
    margin-bottom: 8px;
    border: 3px solid #3882f6;
    border-radius: 12px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 72px 128px;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    text-align: right;
    font-weight: bolder;
}

.cta {
    background-color: #3882f6;
    margin: 72px 10%;
    padding: 24px 72px;
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;    
    border-radius: 8px;;
}

.cta-title {
    font-weight: bolder;
}

.cta-text {
    font-weight: lighter;
}

.cta-button {
    border: 2px solid #F9FAF8;
}

.footer {
    background-color: #1f2937;
    padding: 24px;
    color: #F9FAF8;
    text-align: center;
    font-size: 18px;
}